
.search{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}

/* .search header{
	font-size: 2rem;
	color: var(--primary-color);
} */

.search_bar input{
	text-decoration: none;
	border: 1px solid var(--primary-color);
	padding: .5rem .5rem .5rem 1rem;
	width: 500px;
	color: var(--primary-color);
}

