@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  outline: none;
}

:root{
  --primary-color:#0B2447;
  --primary-color-alt:#19376D;
  --secondary-color:#576CBC;
  --secondary-color-alt:#A5D7E8;
}

a{
  text-decoration: none;
}

main{
  margin: 2rem 5rem;
}

.icon{
  color:white;
}

.highlight{
  color:var(--primary-color);
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}
